<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Employes Manager - add new employe</title>
</head>
<body>
<form th:action="@{/emp/add}" th:object="${employe}" method="post">

    <input type="hidden" th:field="${employe.id}" th:value="${employe.id}" />



    <div>
        <label th:class="${#fields.hasErrors('name') ? 'error-text' : ''}"
               for="name">Name:</label><br/>

        <input
                th:field="${employe.name}"
                type="text"
                id="name"
                name="name"
                th:class="${#fields.hasErrors('name') ? 'error' : ''}"/>

        <p
                th:class="${#fields.hasErrors('name') ? 'error-text' : ''}"
                th:if="${#fields.hasErrors('name')}"
                th:errors="${employe.name}"></p>
    </div>

    <div>
        <label th:class="${#fields.hasErrors('surname') ? 'error-text' : ''}"
               for="surname">Surname:</label><br/>
        <input
                th:field="${employe.surname}"
                type="text"
                id="surname"
                name="surname"
                th:class="${#fields.hasErrors('surname') ? 'error' : ''}"
        />

        <p th:class="${#fields.hasErrors('surname') ? 'error-text' : ''}"
           th:if="${#fields.hasErrors('surname')}"
           th:errors="${employe.surname}"></p>

    </div>

    <div>
        <label th:class="${#fields.hasErrors('email') ? 'error-text' : ''}"
               for="email">E-mail:</label><br/>
        <input
                th:field="${employe.email}"
                type="text"
                id="email"
                name="email"
                th:class="${#fields.hasErrors('email') ? 'error' : ''}"
        />

        <p th:class="${#fields.hasErrors('email') ? 'error-text' : ''}"
           th:if="${#fields.hasErrors('email')}"
           th:errors="${employe.email}"></p>

    </div>

    <div>
        <label th:class="${#fields.hasErrors('position.id') ? 'error-text' : ''}"
               for="position">Position:</label><br/>

        <select class="form-control" th:field="${employe.position.id}"  id="position">
            <option th:each="posit : ${position}" th:value="${posit.id}" th:text="${posit.name}"></option>
        </select>
    </div>

    <div>
        <input type="submit" name="submit" value="Add" />
    </div>
</form>
</body>
</html>