<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Employes Manager info about employe</title>
</head>
<body>

<h1><span th:text="${employe.name}"></span> <span th:text="${employe.surname}"></span></h1>

<p>Adress e-mail: <a th:href="'mailto:' + ${employe.email}"><span th:text="${employe.email}"></span></a></p>
<p>Position: <span th:text="${employe.position.name}"></span></p><br />

<p><a th:href="@{/emp}">Home page</a></p>

</body>
</html>