<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Employes Manager</title>
</head>
<body>

<h1>List of employes</h1>


<form method="get" th:action="@{/search}">
    <input type="text" th:value="${searchQuery != null} ? ${searchQuery} : ''" name="query" id="query" />
    <input type="submit" value="Szukaj" />
    <a th:href="@{/emp}" class="btn btn-default"><strong>Clear search</strong></a>
</form>
<br />

<a th:href="@{/emp/add}"><strong>Add new employe</strong></a>
<br />
<div th:if="${#lists.size(list) == 0}">
    <strong>Brak wyników</strong>
</div>
<div th:if="${#lists.size(list) > 0}">
    <h2>Table</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>E-mail</th>
            <th>Position</th>
            <th>Actions</th>
        </tr>
        <tr th:each="b : ${list}">
            <td th:text="${b.id}">ID</td>
            <td th:text="${b.name}">Name</td>
            <td th:text="${b.surname}">Surnema</td>
            <td th:text="${b.email}">E-mail</td>
            <td th:text="${b.position.name}">Position</td>
            <td>
                <p>
                    <a th:href="@{/emp/{id}(id=${b.id})}">Details</a> -
                    <a th:href="@{/emp/remove/{id}(id=${b.id})}">Remove</a> -
                    <a th:href="@{/emp/edit/{id}(id=${b.id})}">Edit</a>
                </p>
            </td>
        </tr>
    </table>
</div>

</body>
</html>